[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mkdocs = "*"
mkdocs-gitbook = "*"
extenions = {editable = true, path = "."}
pygments = "*"

[dev-packages]
pylint = "*"
black = "*"

[requires]
python_version = "3.7"
